[Unit]
Description=Hyprland idle daemon
Documentation=https://github.com/hyprwm/hypridle
PartOf=hyprland-session.target
After=hyprland-session.target
Wants=hyprland-session.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/hypridle
Restart=on-failure
RestartSec=3
Environment=WAYLAND_DISPLAY=wayland-1

[Install]
WantedBy=hyprland-session.target
