[Unit]
Description=Hyprland Wayland Compositor
PartOf=graphical-session.target
After=graphical-session-pre.target
Requires=graphical-session-pre.target

[Service]
Type=simple
ExecStart=/usr/bin/Hyprland
Restart=on-failure
RestartSec=1
Environment="XDG_CURRENT_DESKTOP=hyprland"
Environment="XDG_SESSION_TYPE=wayland"

[Install]
WantedBy=graphical-session.target
